<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
    <a class="navbar-brand" style="margin: 1%; font-size: x-large;">Shelf Help</a>
    <div class="navbar-collapse d-flex justify-content-between" style="font-size: large;" id="navbarNav"
        *ngIf="loggedIn">
        <ul class="navbar-nav d-flex">
            <li class="nav-item ms-3">
                <a class="nav-link" routerLink="/book-catalogue" routerLinkActive="active">Book Catalogue</a>
            </li>
        </ul>
        <ul class="navbar-nav d-flex">
            <li class="nav-item ms-auto me-5">
                <a class="nav-link" routerLink="/reading-list" routerLinkActive="active">{{ username }}´s Reading
                    List</a>
            </li>
        </ul>
        <ul class="navbar-nav d-flex">
            <li class="nav-item ms-auto me-5">
                <button class="btn btn-secondary w-100" (click)="logOut()"> Log Out </button>
            </li>
        </ul>
    </div>
</nav>