<div class="container mt-5">
    <div *ngIf="isLoading" class="text-center">
        <div class="spinner-border text-secondary" role="status">
            <span class="sr-only"></span>
        </div>
    </div>

    <div *ngIf="!isLoading && book" class="row">
        <div class="col-12">
            <div (click)="goBack()" class="d-flex align-items-center py-2 px-3" style="cursor: pointer;">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                    class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                    <path
                        d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z" />
                </svg>
            </div>
        </div>


        <div class="row mt-4">
            <div class="col-md-5">
                <img [src]="book.coverImg" alt="{{ book.title }}" class="img-fluid rounded shadow-sm" />
            </div>
            <div class="col-md-7">
                <h1 class="display-4">{{ book.title }}</h1>
                <div class="d-flex align-items-center">
                    <h4 class="text-muted">by {{ book.author }}</h4>
                    <div class="ms-3 d-flex">
                        <ng-container *ngFor="let star of getStars(book.rating); let i = index">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                class="bi bi-star-fill" [ngClass]="{'filled': star === 1}">
                                <path
                                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                            </svg>
                        </ng-container>
                    </div>
                </div>

                <p class="mt-4"><strong>ISBN:</strong> {{ book.isbn }} </p>
                <p class="mt-4"><strong><em>Description:</em></strong></p>
                <p>{{ book.blurb }}</p>
                <br />
                <div class="col-12">
                    <div *ngIf="checkSavedBook(book)">
                        <button class="btn btn-dark w-50" (click)="removeBook(book)">
                            REMOVE FROM LIST
                        </button>
                        <span *ngIf="isSaveMessageVisible" class="ms-2 text-success"> Book saved!</span>
                    </div>

                    <div *ngIf="!checkSavedBook(book)">
                        <button class="btn btn-outline-dark w-50" (click)="saveBook(book)">
                            ADD TO LIST
                        </button>
                        <span *ngIf="isRemoveMessageVisible" class="ms-2 text-success">Book removed from your
                            collection!</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="!isLoading && !book">
    <p>Book detail not avaliable</p>
</div>